:root {
    --dark-primary-color: #689F38;
    --light-primary-color: #DCEDC8;
    --primary-color: #8BC34A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
    --accent-color: #ff4081;

}

html {
    height: 100%;
}

body {
    background-color: #ffffff;
    height: 100%;
}


.white-text {
    color: #ffffff !important;
}

nav a {
    color: #ffffff !important;
}